<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.linkchat.mapper.UserMapper">
    
    <resultMap id="userResultMap" type="com.linkchat.entity.User">
        <id property="id" column="id"/>
        <result property="username" column="username"/>
        <result property="password" column="password"/>
        <result property="nickname" column="nickname"/>
        <result property="avatar" column="avatar"/>
        <result property="email" column="email"/>
        <result property="phone" column="phone"/>
        <result property="status" column="status"/>
        <result property="createdAt" column="created_at"/>
        <result property="updatedAt" column="updated_at"/>
    </resultMap>
    
    <select id="selectById" resultMap="userResultMap">
        SELECT * FROM user WHERE id = #{id}
    </select>
    
    <select id="selectByUsername" resultMap="userResultMap">
        SELECT * FROM user WHERE username = #{username}
    </select>
    
    <select id="selectByEmail" resultMap="userResultMap">
        SELECT * FROM user WHERE email = #{email}
    </select>
    
    <insert id="insert" parameterType="com.linkchat.entity.User" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO user (username, password, nickname, avatar, email, phone, status, created_at, updated_at)
        VALUES (#{username}, #{password}, #{nickname}, #{avatar}, #{email}, #{phone}, #{status}, NOW(), NOW())
    </insert>
    
    <update id="update" parameterType="com.linkchat.entity.User">
        UPDATE user
        <set>
            <if test="username != null">username = #{username},</if>
            <if test="password != null">password = #{password},</if>
            <if test="nickname != null">nickname = #{nickname},</if>
            <if test="avatar != null">avatar = #{avatar},</if>
            <if test="email != null">email = #{email},</if>
            <if test="phone != null">phone = #{phone},</if>
            <if test="status != null">status = #{status},</if>
            updated_at = NOW()
        </set>
        WHERE id = #{id}
    </update>
    
    <delete id="delete">
        DELETE FROM user WHERE id = #{id}
    </delete>
    
    <select id="selectAll" resultMap="userResultMap">
        SELECT * FROM user
    </select>
    
</mapper>